@import url("//hello.myfonts.net/count/3d3f46");

@font-face {
  font-family: "SequelSans-BookBody";
  src: url("webFonts/SequelSansBookBody/font.woff2") format("woff2"),
    url("webFonts/SequelSansBookBody/font.woff") format("woff");
}
@font-face {
  font-family: "SequelSans-BookDisp";
  src: url("webFonts/SequelSansBookDisp/font.woff2") format("woff2"),
    url("webFonts/SequelSansBookDisp/font.woff") format("woff");
}
@font-face {
  font-family: "SequelSans-BookHead";
  src: url("webFonts/SequelSansBookHead/font.woff2") format("woff2"),
    url("webFonts/SequelSansBookHead/font.woff") format("woff");
}
@font-face {
  font-family: "SequelSans-SemiBoldDisp";
  src: url("webFonts/SequelSansSemiBoldDisp/font.woff2") format("woff2"),
    url("webFonts/SequelSansSemiBoldDisp/font.woff") format("woff");
}
@font-face {
  font-family: "SequelSans-RomanHead";
  src: url("webFonts/SequelSansRomanHead/font.woff2") format("woff2"),
    url("webFonts/SequelSansRomanHead/font.woff") format("woff");
}

@font-face {
  font-family: "SequelSans-MediumHead";
  src: url("webFonts/SequelSansMediumHead/font.woff2") format("woff2"),
    url("webFonts/SequelSansMediumHead/font.woff") format("woff");
}

@font-face {
  font-family: "Druk Cond Web";
  src: url("webFonts//DrukCond-Super/DrukCond-Super-Web.woff2") format("woff2"),
    url("webFonts/DrukCond-Super/DrukCond-Super-Web.woff") format("woff");
}

html,
body {
  /**
 * @license
 * MyFonts Webfont Build ID 4013894, 2021-02-13T14:16:37-0500
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * You may obtain a valid license at the URLs below.
 * Webfont: SequelSans-BookDisp by OGJ Type Design
 * URL: https://www.myfonts.com/fonts/ogj-typedesign/sequel-sans/book-display/
 * Webfont: SequelSans-BookBody by OGJ Type Design
 * URL: https://www.myfonts.com/fonts/ogj-typedesign/sequel-sans/book-body-text/
 * Webfont: SequelSans-BookHead by OGJ Type Design
 * URL: https://www.myfonts.com/fonts/ogj-typedesign/sequel-sans/book-headline/
 * Webfont: SequelSans-SemiBoldDisp by OGJ Type Design
 * URL: https://www.myfonts.com/fonts/ogj-typedesign/sequel-sans/semi-bold-display/
 * Webfont: SequelSans-MediumHead by OGJ Type Design
 * URL: https://www.myfonts.com/fonts/ogj-typedesign/sequel-sans/medium-headline/
 * Webfont: SequelSans-RomanHead by OGJ Type Design
 * URL: https://www.myfonts.com/fonts/ogj-typedesign/sequel-sans/roman-headline/
 * Webfonts copyright: Oliver Jeschke / ogj type design 
 * © 2021 MyFonts Inc
*/

  padding: 0;
  margin: 0;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: "SequelSans-BookDisp", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: geometricPrecision;
}
body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #1b1b1b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
